<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Le Baluchon.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>E2CC3D0E252B42CD00026CED</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E2CC3D24252B42D000026CED</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E2CC3D2F252B42D000026CED</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
